body {
    padding: 10px;
}

.top-banner {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #465ab8, #261360);
    color: whitesmoke;
    padding: 10px;
}

h1 {
    font-weight: bolder;
}

h2 {
    text-align: left;
    font-weight: bolder;
}

#search {
    width: 100%;
}

.card-container {
    display: inline;
}

.f-card-body {
    background-color: #323d4f;
    color: whitesmoke;
    padding: 5px;
    margin: 10px;
    width: fit-content;
}